/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main {
	background: rgb(230,230,230);
	min-height: 600px;
	padding-top: 60px;
}

.result-question {
	font-family: 'Georgia', serif;
	font-size: 1.4em;
	margin-bottom: 10px;
}

.result {
	width: 360px;
	height: 360px;
	text-align: center;
	background: rgba(255,255,255,0.6);
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	display: inline-block;
}

.option_out img {
	margin-bottom: 25px;
}

.header {
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}

.main-col {
	padding-left: 80px;
}

#question_in {
	width: 80%;
	height: 60px;
	padding-left: 30px;
	font-family: 'Georgia', serif;
	font-size: 1.4em;
	border: 0;
	margin-bottom: 20px;
}

#public_in {
	margin-left: 30px;
	margin-right: 10px;
	font-size: 2em;
}

.add {
	margin-top: 20px;
	height: 45px;
	width: 160px;
	border: 0;
	color: black;
	font-size: 1.2em;
	letter-spacing: -1px;
	background: rgb(180,180,180);
}

.add:hover {
	background: rgb(160,160,160);
}

.make-public {
	font-size: 0.8em;
}

hr {
	border-top: 1px solid rgba(0,0,0,0.2);
	margin: 0;
	width: 80%;
	margin-bottom: 20px;
}

.option_in {
	width: 60%;
	height: 50px;
	padding-left: 30px;
	font-family: 'Georgia', serif;
	font-size: 1.1em;
	border: 0;
	margin-bottom: 10px;
}

.welcome {
	font-size: 2.6em;
	line-height: 120%;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	letter-spacing: -1px;
}

.option_out {
	display: inline-block;
	width: 40%;
	height: auto;
	min-height: 100px;
	padding-top: 37px;
	font-size: 1.45em;
	text-align: center;
	font-family: 'Georgia', serif;
	margin-right: 40px;
	background: rgb(250,250,250);
	cursor: pointer;
}

.option_out:hover {
	background: rgb(190,190,190);
}

#question_out {
	font-family: 'Georgia', serif;
	-webkit-font-smoothing: antialiased;
	font-size: 2.4em;
	margin-bottom: 20px;
	letter-spacing: -1px;
	color: rgb(30,30,30);
}

.tab-button {
	width: 140px;
	background: white;
	padding: 15px;
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin-right: 20px;
	cursor: pointer;
	font-weight: 400;
}

.tab-button:hover {
	background: rgb(140,140,140);
	color: white;
}

.welcome-col {
	border-right: 1px solid rgba(0,0,0,0.3);
	height: 320px;
}

.welcome-text {
	margin-top: 10px;
	line-height: 150%;
	font-size: 1.1em;
	padding-right: 50px;
	font-weight: 300;
}

#username {
	font-weight: 400;
}

